/* style */
html {
	font-family: "Nunito";
}

body {
	background-color: #130f0d;
	color: white;
}

.boards {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.board {
	background-color: #141316;
	padding: 5px;
	border: 1px solid #fd951f11;
	border-radius: 4px;
	margin: 0 16px;
}

h3 {
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #fd951fcc;
}

.dropzone {
	padding: 16px;
	background-color: gray;
	min-width: 300px;
	min-height: 200px;
}

.card {
	padding: 16px;
	box-shadow: 0 0 10px;
	margin: 25px 0;
	font-weight: 600;
	font-size: 18px;
	background-color: #1a1a1c;
}

.status {
	width: 30px;
	height: 8px;
	background-color: white;
	margin-bottom: 16px;
	border-radius: 8px;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.highlight {
	background-color: #fd951f08;
}

.card,
.dropzone {
	transition: 0.4s;
}

.is-dragging {
	cursor: move;
	opacity: 0.3;
}

.is-over {
	background-color: darkgreen;
}
